<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Enquiry about our rooms</h4>

   <!-- A little help for the Netlify post-processing bots -->
   <form name="contact" netlify netlify-honeypot="bot-field" hidden>
    <input type="text" name="name" />
    <input type="email" name="email" />
    <input type="roomtype" name="roomtype" />
    <textarea name="message"></textarea>
  </form> 

  <form action="" method="post">
    <input type="hidden" name="form-name" value="contact" />
    <div class="flex-l mhn1-l">
      <!-- Name -->
      <div class="ph2-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" required placeholder="Name" class="w-100 mb2">
          <label for="name">Name</label>
        </fieldset>
      </div>
      <!-- Email -->
      <div class="ph2-l w-50-l">
        <fieldset>
          <input type="email" id="email" name="email" required placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>

      <!-- Room Type -->
      <div class="ph2-l w-40-l">
        <fieldset>
          <datalist id="roomtype">
            <option value="Single room">
            <option value="Double room">
            <option value="Twins room">
          </datalist>
          <input list="roomtype" id="roomtype" name="roomtype" placeholder="" required class="w-80 mb2">
          <label for="roomtype">Room type</label>
        </fieldset>
      </div>
    </div>

    <div class="flex-l ph2-l mhn1-l">
    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" required  rows="8" cols="80" class="ph2-l w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
    </div>
    <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>