<!-- Enquiry Block -->
<div class="mb3">
    <h4 class="f6 mb3 b lh-title tc">Please select a date, a room type and your email before clicking enquire.</h4>
  
     <!-- A little help for the Netlify post-processing bots -->
     <form name="contact" netlify netlify-honeypot="bot-field" hidden>
      <input type="date" name="date" />
      <input type="email" name="email" />
      <input type="roomtype" name="roomtype" />
    </form> 
  
    <form action="" method="post">
      <input type="hidden" name="form-name" value="contact" />

      <div class="flex-l mhn1-l">
        <div class="ph2-l w-40-l mb2">
          <input type="date" required name="date" placeholder="date">
        </div>
        <div class="w-40-l mb2">
          <input list="roomtype"required name="roomtype" placeholder="room type">
          <datalist id="roomtype">
            <option value="Single room">
            <option value="Double room">
            <option value="Twin room">
          </datalist>
        </div>
      </div>
      <div class="flex-l mhn1-l">
        <div class="ph2-l w-100-l mb2">
          <input type="email" required  name="email" placeholder="email">
        </div>
      </div>

      <!-- Button -->
      <div class="tc">
        <button type="submit" class="btn w-100 w-auto-ns raise">Enquire</button>
      </div>
    </form>
  </div>