<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">
		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb1 primary">Zodiac Lodge</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/facilities" class="link">Facilities</a></li>
					<li><a href="/values" class="link">Pricing</a></li>
					<li><a href="/post" class="link">Location</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>
			<h3 class="f4 b lh-title mb2 primary">Social media</h3>
			<ul class="mhn2">
				{{ partial "social-icon" (dict "link" "http://www.facebook.com/zodiaclodge#" "svg" "icons-facebook") }}
				{{ partial "social-icon" (dict "link" "http://www.zodiaclodge.com.au/" "svg" "icons-vimeo") }}
			</ul>
		</div>

	</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
<!-- Core JS file -->
<script src="/photoswipe.min.js"></script>

<!-- UI JS file -->
<script src="/photoswipe-ui-default.min.js"></script>