<div class="flex-m mhn3-m mb3">

  <div class="ph3-m w-50-m">
    <img src="{{.imageUrl}}" alt="" class="db mb2">
  </div>

  <div class="ph3-m w-50-m pv4-ns">
    <h3 class="f5 b lh-title mb1">{{.heading}}</h3>
    <p>{{.text}}</p>
  </div>

  <!-- Button -->

  <!--
  <form action="https://formspree.io/f/mwkwyenw" method="POST">
    <input type="hidden" name="_subject" value="Zodiac Lodge - single room enquiry" />
    <input type="text" name="name">
    <input type="email" name="_replyto">
    <input type="submit" value="Send">
  </form>
-->
</div>