/**/
/* MAP Container */
/**/
.ind-mapa {
    position: relative;
    display: flex;
}

.ind-mapa>* {
    flex: 0 1 auto;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 3px #ccc;
    z-index: 1;
}

.ind-mapa_small>* {
    flex: 0 1 auto;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 3px #ccc;
    z-index: 1;
}

.resp-iframe {
    flex: 0 0 auto;
    margin-right: 20px;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 30%;
    width: 90%;
    position: absolute;
}