{{ define "main" }}

<div class="mw6 center ph3 pv4">
	<!--Google map-->
	<div id="map-container-google-1" class="ind-mapa_small">
		<iframe class="resp-iframe" width="100%" frameborder="0"
			src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=284%20Bridge%20Rd,%20Forest%20Lodge%20NSW%202037+(zodiac%20lodge)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
		</iframe>
	</div>
	<!--Google Maps-->

	<!-- Organisation -->
	<div hidden itemscope itemtype="https://schema.org/LocalBusiness">
		<div itemprop="name">Zodiac Lodge</div>
		<div>Email: <span itemprop="email">info@zodiaclodge.com.au</span></div> 
		<div>Phone: <span itemprop="telephone">+61418621871</span></div> 
		<div>Phone: <span itemprop="telephone">0418621871</span></div>
		<div>Url: <span itemprop="url">http://www.budgetglebeaccommodation.com.au/</span></div>
		<div itemprop="paymentAccepted" style='display: none' >cash, check, credit card</div>
		<meta itemprop="openingHours" style='display: none' datetime="Mo,Tu,We,Th,Fr,Sa,Su 10:00-14:00" /> 
		<meta itemprop="openingHours" style='display: none' datetime="Mo,Tu,We,Th,Fr,Sa,Su 17:00-19:00" /> 
		<div itemtype="http://schema.org/GeoCoordinates" itemscope="" itemprop="geo"><meta itemprop="latitude" content="-33.88236743228362" /><meta itemprop="longitude" content="151.1822800371269" /></div>
		<div itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="address">
			<div itemprop="streetAddress">284 Bridge Rd</div>
			<div><span itemprop="addressCountry">AU</span>, <span itemprop="addressLocality">Forest Lodge</span>, <span itemprop="addressRegion">Forest Lodge</span> <span itemprop="postalCode">2037</span></div>
		</div> 
	</div>

	<div class="ph3 bg-off-white">
		<div class="center mw6 pv3">

			{{ .Content }}

			<div class="flex-ns mb2">
				{{ range .Params.contact_entries }}
				<div>
					<h4 class="f5 b lh-title mb2 primary">{{ .heading }}</h4>
					<h5 class="f6 fw1 mw5 mb2">{{ .text }}</h5>
				</div>
				{{ end }}
			</div>
			<div class="flex-ns mb2">
				{{ range .Params.info_entries }}
				<div>
					<h4 class="f5 b lh-title mb2 primary">{{ .heading }}</h4>
					<h5 class="f6 fw1 mw5 mb2">{{ .text }}</h5>
				</div>
				{{ end }}
			</div>
			{{ partial "contact-form" . }}

		</div>
	</div>
</div>

{{ end }}